<header>
<h2 class="pagename">Joy Naomi</h2>
</header>

<section id="gall">
<div class="work" id="joynaomi">
<a href="images/joynaomi_detail.jpg" title="Joy Naomi &ndash; detail" rel="lightbox" class="lightbox" target="picture">
<img src="images/joynaomi.jpg" alt="Joy Naomi" />
</a>
</div>
<div class="description">
<h4>Joy Naomi</h4>
<p class="caption">Commission Portrait.</p>
<p>Oil on Canvas, 8.5&nbsp;x&nbsp;11<br />Private collection.</p>
<p class="inquire"><a href="contact.html">Inquire about a portrait&nbsp;commission.</a></p>
<p class="detail">Click image for detail.</p>
</div>
</section>