<header>
<h2 class="pagename">Fiona</h2>
</header>

<section id="gall">
<div class="work" id="fiona">
<a href="images/fiona_detail.jpg" title="Fiona &ndash; detail"  rel="lightbox" class="lightbox" target="picture">
<img src="images/fiona.jpg" alt="Fiona" />
</a>
</div>
<div class="description">
<h4>Fiona</h4>
<p class="caption">A Pet Portrait.</p>
<p>Pastel on Paper, 12&nbsp;x&nbsp;16<br />Private collection.</p>
<p class="inquire"><a href="contact.html">Inquire about a portrait&nbsp;commission.</a></p>
<p class="detail">Click image for detail.</p>
</div>
</section>