<header>
<h2 class="pagename">Joanne</h2>
</header>

<section id="gall">
<div class="work" id="joanne">
<a href="images/joanne_detail.jpg" title="Joanne &ndash; detail" rel="lightbox" class="lightbox" target="picture">
<img src="images/joanne.jpg" alt="Joanne" />
</a>
</div>
<div class="description">
<h4>Joanne</h4>
<p class="caption">Commission Portrait.</p>
<p>Oil on Canvas, 14&nbsp;x&nbsp;18<br />Private collection.</p>
<p class="inquire"><a href="contact.html">Inquire about a portrait&nbsp;commission.</a></p>
<p class="detail">Click image for detail.</p>
</div>
</section>